@font-face {
  font-family: "Goyang";
  src: url("fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  /* @media screen and (max-width: 992px) {
      grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    @media screen and (max-width: 576px) {
      grid-template-columns: repeat(1, minmax(250px, 1fr));
    } */
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo.show {
  animation: fadeIn 0.3s ease forwards;
}

.ImageInfo.hide {
  animation: fadeOut 0.3s ease forwards;
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  max-height: 100vh; /* 🔹최대 높이를 화면의 80%로 설정 */
  overflow-y: auto; /* 🔹스크롤 가능하게 설정 */
  @media screen and (max-width: 768px) {
    width: 100vw;
  }
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

.root {
  --bg-color: white;
  --text-color: black;
}

/* dark mode 처리 */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: black;
    --text-color: white;
  }
}

[data-theme="dark"] {
  --bg-color: black;
  --text-color: white;
}

[data-theme="light"] {
  --bg-color: white;
  --text-color: black;
}

body,
body * {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* 로딩 오버레이: 화면 전체 덮기 */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* 반투명한 회색 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-container {
  position: relative;
  width: 80px;
  height: 80px;
  background-color: transparent;
}

.loading-spinner {
  width: 80px;
  height: 80px;
  border: 4px solid white;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  background-color: transparent;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* 스피너 중앙의 텍스트 */
.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  background-color: transparent;
  color: white;
  animation: bounce 0.8s infinite alternate ease-in-out;
}

/* 고양이가 위아래로 점프하는 애니메이션 */
@keyframes bounce {
  from {
    transform: translate(-50%, -55%);
  }
  to {
    transform: translate(-50%, -45%);
  }
}

.history-wrapper {
  margin: 8px 0;
}

.searchHistory {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 4px 8px;
  border-radius: 0.5rem;
  margin-right: 8px;
  cursor: pointer;
}

.search-wrapper {
  display: flex;
  flex-direction: row;

  > button {
    margin-left: 4px;
    cursor: pointer;
  }
}

.BannerWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  width: 80%;
  min-width: 500px;
}

.BannerWrapper button {
  border: none;
  font-size: 3rem;
  cursor: pointer;
  margin: 0 1rem;
}

.BannerWrapper button:disabled {
  color: #aaa; /* 글자도 흐리게 */
  cursor: not-allowed; /* 마우스 커서 변경 */
}

.banner-container {
  width: 100%;
  overflow: hidden;
}

.banner-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.banner-item {
  /* 부모 요소의 20%를 차지, 한 번에 5개의 아이템이 보이도록 */
  flex: 20%;
}

.banner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 380px;
}

.result-msg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
}
